.div {
  height: 50%;
  width: fit-content;
}

.inp {
  background-color: rgba(233, 169, 223, 0.6);
  color: rgb(38, 8, 31);
  border: 1px solid rgb(239, 209, 232);
  border-radius: 10%;
  height: 2em;
  width: fit-content;
  font-size: 90%;
  font-weight: bold;
  /* align-items: flex-end; */
  box-shadow: 0 0 3px 3px #b53b7e;
}

.boton {
  border: 1px solid rgb(239, 209, 232);
  border-radius: 15%;
  background-color: rgb(241, 89, 208);
  color: rgb(51, 5, 67);
  height: 2em;
  width: fit-content;
  font-size: 90%;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  margin: 5px;
  margin-right: 25px;
  /* align-items: flex-end; */
  box-shadow: 0 0 3px 3px #b53b7e;
}

.boton:hover {
  background-color: rgb(149, 21, 121);
  color: rgb(237, 97, 207);
}