.div {
  /* height: 50%;
  width: fit-content; */
  margin-bottom: .2em;
  margin-top: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  /* justify-content: space-between; */

}

.inp {
  width: 140px;
  height: 2.5em;
  font-size: 15px;
  border-radius: .4em;
  background-color: rgb(130, 249, 245);
  margin-left: 1em;
  margin-right: -.5em;
}

.boton {
  font-weight: 600;
  background-color: rgb(235, 90, 213);
  font-size: 15px;
  width: auto;
  border-radius: .4em;
  box-shadow: 0 3px 3px 0 #47c8613d, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: .5em;
  margin-left: .7em;
  margin-right: -.5em;
  padding: .5em;
  color: #0b0b0b;
}

.boton:hover {
  background-color: #4fa4fe;
  color: rgb(7, 7, 7);
}