.divDet {
  /* display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -20.5vw;
  margin-left: 15vw; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -20.5vw;
}

.hDet {
  color: rgb(103, 255, 133);
  font-family: cursive;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 4vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.582);
}

.imgDet {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  /* border: 2px solid white; */
}

.textinf {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: -2vw;
}

.dettext {
  padding: 10px;
}

.hinf {
  color: rgb(154, 207, 250);
  margin-bottom: -1.3vw;
  font-size: 20px;
  font-family: cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.582);
}

.ps {
  width: auto;
  height: auto;
  padding: .5vw;
  color: rgb(252, 246, 246);
  background-color: rgb(244, 55, 229);
  border-radius: 5px;
  font-size: 18px;

}

.contbtn {
  display: flex;
}

.btn {
  background-color: rgb(160, 160, 230);
  color: rgb(51, 5, 67);
  /* height: 4vw; */
  width: 15vw;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  margin: 3%;
  margin-top: -1vw;
  padding: 1vw;
  cursor: pointer;
  user-select: none;
}

.btn:hover {
  background-color: blueviolet;
}