.divAb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -21vw;
}

.h1Ab {
  color: rgb(233, 50, 200);
  font-size: 48px;
  font-family: cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.582);
  margin-bottom: -2vw;
}

.imgAb {
  width: 25vw;
  height: 200%;
}

.abouText {
  margin-top: -5px;
  background-color: rgba(0, 115, 197, 0.897);
  border-radius: .5em;
  padding: .6vw;
  /* padding-bottom: -5vw; */
  width: 50vw;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aboutinf {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: -1vw;
}

.aboutcontext {
  padding: 10px;
}

.h3Ab {
  color: rgb(255, 255, 255);
  font-family: cursive;
}

.pAb {
  width: auto;
  font-weight: 560;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: .3em;
  background-color: rgb(243, 77, 193);
  border-radius: .5em;
  margin-top: -10px;
  color: rgb(230, 235, 249);
}



.btn {
  background-color: rgb(160, 160, 230);
  color: rgb(51, 5, 67);
  height: 80%;
  font-weight: bold;
  font-size: 90%;
  border-radius: 5px;
  border: 2px solid white;
  margin: 3%;
  cursor: pointer;
  user-select: none;
}

.btn:hover {
  background-color: blueviolet;
}