.App {
  /* font-family: 'IBM Plex Mono'; */
  /* text-align: center;
  justify-content: flex-start; */
  font-family: -apple-system, 'IBM Plex Mono', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 2%;

}