body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: auto; */
  background-image: url(./components/imagenes/background_rick&morty_9.jpg);
  background-repeat: repeat;
  background-size: 100%;
  /* background-position-x: left;
  background-position-y: -10vw; */
  /* background-blend-mode: saturation; */
  background-color: rgb(7, 18, 58);
  /* cursor: url(/src/images/icono.png), pointer; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}