.div {
  /* margin: 10px; */
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  padding-top: 0.6em;
  padding-right: 20px;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  /* margin-top: 10rem; */
}


/* Las siguientes lineas son para quitar el subrayado de los links */
/* a:link,
a:visited,
a:active {
  text-decoration: none;
  color: rgb(51, 5, 67);
}

a:hover {
  color: rgb(237, 97, 207);
} */


.btnNav {
  font-weight: 600;
  background-color: #98eb33;
  width: auto;
  font-size: 15px;
  border-radius: .4em;
  box-shadow: 0 3px 3px 0 #38ba526c, 0 17px 50px 0 rgba(53, 89, 57, 0.19);
  margin-bottom: .9em;
  margin-left: 1em;
  padding: .5em;
  cursor: pointer;
}


.btnNav:hover {
  background-color: #4fa4fe;
}

@media only screen and (max-width: 480px) {
  .btnNav {
    font-size: 13px;
    height: 8vh;
    line-height: 100%;
    margin-bottom: 8vh;
  }
}