.div {
  background-color: rgba(159, 25, 139, 0.8);
  border: 2px solid #f675ad;
  margin: 5px;
  /* arriba derecha abajo izq */
  width: 93%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  line-height: 1%;
  position: fixed;
  top: 0;
  /* left: 5px; */
  padding-top: 0.2em;
  padding-bottom: 0.5em;
}

/* .divlink {
  background-color: rgba(224, 73, 201, 0.6);
  border: 2px solid rgb(239, 126, 209);
  border-radius: 10px;
  width: 5%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  top: 50px;
} */

.home {
  border: 1px solid rgb(38, 8, 31);
  border-radius: 15%;
  background-color: rgb(241, 89, 208);
  color: rgb(51, 5, 67);
  font-size: medium;
  font-weight: bold;
  margin: 10px;
  width: 5%;
  height: 28px;
}

.home:hover {
  background-color: rgb(149, 21, 121);
}

.about {
  border: 1px solid rgb(38, 8, 31);
  border-radius: 15%;
  background-color: rgb(241, 89, 208);
  color: rgb(51, 5, 67);
  font-size: medium;
  font-weight: bold;
  margin: 10px;
  width: 5%;
  height: 28px;
}

.about:hover {
  background-color: rgb(149, 21, 121);
}