.div {
  background-color: rgba(159, 25, 139, 1);
  border: 2px solid #f675ad;
  margin: 5px;
  /* arriba derecha abajo izq */
  width: 93%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  line-height: 1%;
  position: fixed;
  top: 0;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  z-index: 10;
  box-shadow: 0 0 3px 3px #1a1a1a;
}

/* Las siguientes lineas son para quitar el subrayado de los links */
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: rgb(51, 5, 67);
}

a:hover {
  color: rgb(237, 97, 207);
}


/*  */

.btn {
  border: 1px solid rgb(239, 209, 232);
  border-radius: 15%;
  background-color: rgb(241, 89, 208);
  color: rgb(51, 5, 67);
  font-size: medium;
  font-weight: bold;
  margin: 10px;
  width: fit-content;
  height: 30%;
  bottom: 10px;
  align-items: flex-end;
  box-shadow: 0 0 3px 3px #b53b7e;
}

.btn:hover {
  background-color: rgb(149, 21, 121);
}