.wrapper {
    /* display: flex; */
    /* width: 100%; */
    margin-top: -60vh;
}

/* Estilo del encabezado principal */
.marg {
    /* width: 100%; */
    margin-top: 3vh;
    position: relative;
    left: -2vw;
}

.marg img {
    margin-top: 30vh;
    width: 40vw;
    height: 70vh;
}

.tittleLand {
    position: absolute;
    top: 0;
    left: -7vw;
}

.tittleLand img {
    width: 60vw;
    height: 50vh;
    margin-bottom: -20vh;
    margin-top: 1vh;
}

/* .tittleLand h2 {
    margin-bottom: -6vh;
    font-size: 40px;
    color: #e6e359;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.582);
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 30vh;
    left: 25vw;
} */

/* Estilo del subtítulo */
/* .tittleLand h4 {
    font-size: 23px;
    margin-bottom: 0px;
    color: rgb(164, 229, 249);
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 30vh;
    left: 18vw;
} */

/* Estilo del contenedor del formulario */
.divForm {
    position: absolute;
    top: 43vh;
    left: 12vw;
    border-radius: 10px;
    max-width: 480px;
    margin: 0 auto;
    padding-top: 20px;
}

/* Estilo de la etiqueta de entrada y el campo de entrada */
label {
    display: block;
    font-size: 19px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type="text"],
input[type="password"] {
    padding: 7px;
    font-size: 12px;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 8.8vw;
    /* background-color: #ade3af; */
}

/* Estilo de la advertencia */
.error {
    border-color: red;
    border: 3px solid red;
    background-color: #f1b7bd;
}

/* Estilo del botón */
.btnform {
    background-color: #31d8eecc;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 2vh;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5vh;
}

/* Estilo del botón del usuario invitado */
.btnGuest {
    /* height: 35px; */
    background-color: rgba(235, 90, 213, 0.806);
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo del mensaje de error */
.danger {
    /* max-width: 460px; */
    height: auto;
    padding: .5em;
    font-size: 1em;
    border-radius: .4em;
    font-weight: 600;
    background-color: rgb(254, 254, 57);
    /* margin-left: 4vw; */
}

@media only screen and (max-width:770px) {
    .wrapper {
        margin-top: -20vh;
    }

    .marg {
        /* width: 100%; */
        margin-top: -17vh;
        position: relative;
        left: -2vw;
    }

    .marg img {
        margin-top: 30vh;
        width: 53vw;
        height: 65vh;
    }

    .tittleLand {
        position: absolute;
        top: 0;
        left: -5.5vw;
    }

    .tittleLand img {
        width: 70vw;
        height: 50vh;
        margin-bottom: -20vh;
        margin-top: 1vh;
    }

    /* Estilo del subtítulo */
    .tittleLand h4 {
        font-size: 17px;
    }

    .divForm {
        position: absolute;
        top: 42vh;
        left: 17vw;

    }

    label {
        font-size: 18px;
        font-weight: 600;
    }

    input[type="text"],
    input[type="password"] {
        padding: 5px;
        font-size: 12px;
        border-radius: 5px;
        margin-bottom: 15px;
        width: 15vw;
        /* background-color: #ade3af; */
    }

    .btnform {
        font-size: 16px;
        padding: 12px;
    }

    .btnGuest {
        font-size: 16px;
        padding: 12px;
    }

    .danger {
        /* max-width: 350px; */
        padding: .3em;
        font-size: .8em;
        /* margin-left: 6em; */
    }
}

@media only screen and (max-width: 570px) {
    .wrapper {
        margin-top: -16vh;
    }

    .marg {
        /* width: 100%; */
        margin-top: -3vh;
        position: relative;
        left: -2vw;
    }

    .marg img {
        margin-top: 26vh;
        width: 95vw;
        height: 110%;
    }

    .tittleLand {
        position: absolute;
        top: 0;
        left: 4vw;
    }

    .tittleLand img {
        width: 90vw;
        height: 25vh;
        margin-bottom: -20vh;
        margin-top: 10vh;
    }

    /* Estilo del subtítulo */
    .tittleLand h4 {
        font-size: 17px;
    }

    .divForm {
        position: absolute;
        top: 35vh;
        left: 27vw;

    }

    label {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: -.5vh;
    }

    input[type="text"],
    input[type="password"] {
        padding: 5px;
        font-size: 12px;
        border-radius: 5px;
        margin-bottom: 15px;
        width: 30vw;
        /* background-color: #ade3af; */
    }

    .btnform {
        margin-top: 1vh;
        font-size: 16px;
        padding: 10px;
        margin-bottom: 1vh;
    }

    .btnGuest {
        font-size: 16px;
        padding: 10px;
    }

    .danger {
        /* max-width: 280px; */
        padding: .3em;
        font-size: .8em;
        margin-left: 6vw;
    }
}