.warning {
    border: solid red 1px;
    border-radius: 0.2em;
}

.danger {
    font-size: 15px;
    color: red;
    margin-left: 2em;
}

.divForm {
    background-color: rgba(215, 67, 193, 0.9);
    border: 2px solid rgb(111, 9, 102);
    border-radius: 25px;
    width: 30%;
    height: 60%;
    position: relative;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
}

.labelForm {
    color: white;
    font-size: larger;
    font-weight: bold;
}

.btnform {
    background-color: rgb(160, 160, 230);
    color: rgb(51, 5, 67);
    height: 80%;
    font-weight: bold;
    font-size: 90%;
    border-radius: 5px;
    border: 2px solid white;
    margin: 3%;
    cursor: pointer;
    user-select: none;
}